In [1]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
#from jh_utils.data.pandas.preprocessing import make_dummies
from get_df import get_data_for_ml,keep_cols,small_column_names_for_mldf
from plot import lines_plot, columnX
import seaborn as sns
import statsmodels.tsa.stattools as smt
from get_df import get_data_for_ml,keep_cols, get_data
from itertools import combinations,permutations

/home/joaoholz/miniconda3/envs/lestat/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [22]:
df = get_data_for_ml()
cols_to_keep = ['date_time']+list(filter(lambda x: 'precipitacao' in x, df.columns)) + list(df.columns[-19:])
cols_to_keep = list(filter(lambda x: x not in ['hour','month','year','day_of_year','weekofyear'], cols_to_keep))
df = df[cols_to_keep]
df_just_stocastic = df.iloc[:,:4]
df_just_stocastic.columns = ['A613','A614','A634','A612']
df.index = df.date_time
df = df.resample('1D').mean()
df.drop(['hour_9', 'hour_9**2','hour_9**3'],axis=1,inplace=True)

/home/joaoholz/Documents/LSTAT/joao/trabalho2/get_df.py:29: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df.date_time.dt.weekofyear

In [23]:
df

,"A613 - precipitacao total, horario (mm)","A614 - precipitacao total, horario (mm)","A634 - precipitacao total, horario (mm)","A612 - precipitacao total, horario (mm)",month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
date_time,,,,,,,,,,,,,,,
2017-02-16,0.016667,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-17,0.016667,0.008333,0.000000,0.041667,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-18,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-19,0.008333,0.016667,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-02-20,0.091667,0.041667,0.025000,0.158333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-26,0.000000,0.000000,0.033333,0.508333,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-04-27,0.000000,0.000000,0.408333,0.016667,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-04-28,0.000000,0.108333,0.016667,0.075000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-04-29,0.016667,0.000000,0.183333,0.008333,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-04-30,0.000000,0.225000,0.016667,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0